Repository ceph/go-ceph, pull requests merged in 2022-03, with the labels that each got.

#652 readme: document v0.14.0 and the ceph versions it supports
  README.md
Labels: no-API

#658 rados: add warning logs to watcher callbacks
  rados/watcher.go
Labels: small, no-API

#651 rados: add wrapper to set locator key on IOContext
  docs/api-status.json
  docs/api-status.md
  rados/rados_set_locator.go
  rados/rados_set_locator_test.go
Labels: API

#646 rgw/admin: add suport for link/unlink bucket
  docs/api-status.json
  docs/api-status.md
  rgw/admin/errors.go
  rgw/admin/link.go
  rgw/admin/link_test.go
Labels: API
