Repository ceph/go-ceph, pull requests merged in 2025-03, with the labels that each got.

#1079 rbd: add ListChildrenAttributes Api
  docs/api-status.json
  rbd/list_children_attributes_test.go
  rbd/snapshot_nautilus.go
Labels: API

#1085 build: Bump go version to 1.22
  go.mod
Labels: no-API

#1064 rbd: add support for rbd_diff_iterate3 api
  docs/api-status.json
  docs/api-status.md
  rbd/diff_iterate_by_id.go
  rbd/diff_iterate_by_id_test.go
Labels: ceph-libs, API
